# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments and Secrets
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Testing and coverage
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage

# OS metadata
.DS_Store
Thumbs.db
desktop.ini
